# SUPABASE CONFIGURATION

# URL de la API del proyecto (Ej. https://xyzcompany.supabase.co)
VITE_SUPABASE_URL=supabase_project_url

# Llave pública (Publishable) segura para exponer en el navegador (Ej. sb_publishable_xxxxxxxxx)
VITE_SUPABASE_PUBLISHABLE_KEY=supabase_publishable_key